In [1]:
import os, sys
p = os.path.abspath('..')
sys.path.insert(1,p)

In [2]:
import pandas as pd
import numpy as np

# Custom class for classify suspicious transaction requests
from classify import classify

In [302]:
# Pass a string of date (yymmdd) that you want to classify
# This code pass 220601 to classify transaction requests occurred in 2022-06-01
clf = classify(date='220601')

In [303]:
# Based on threshold value, clf.main function returns a series of customer number which made suspicious transaction requests on a designated date 
target_list = clf.main(threshold=-2, only_target=True)

In [306]:
"""
# target_list example #

index  custNo
23     37482734
27     23948248
35     23489237
41     23427364
       ....

2346   13849848
4525   18237237

"""

23      1055112151
27      1055112151
35      1055749660
41      1045458608
46      1049258746
           ...
9584    1049850793
9600    1062673764
9604    1035067657
9615    1034882403
9619    1102865105
Name: custNo, Length: 1053, dtype: object

In [305]:
# return number of 
target_list.isin(['custNo']).sum()

0